:root {
  --primary-color: #fc952b;
  --bg-color: #ffefc7;
}

html,
body {
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  text-align: center;
  height: 100vh;
  margin: 0;
  font-weight: 900;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--bg-color);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900; /* WHY DO YOU NOT WORK */
}

p {
  font-weight: 400;
}

a {
  font-weight: 900;
}
